.microphone {
  cursor: pointer;
  height: 30px;
}

.microphone:hover {
  transform: scale(1.2);
}

.number {
  line-height: 5px;
}
.number span {
  position: absolute;
  opacity: 0;
}

@-webkit-keyframes time {
  0%, 10%, 100% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 0.8;
    transform: scale(1.2);
  }
}

.num3, .num2, .num1 {
  color: #15579c;
}

.num {
  animation: time 4s infinite;
  animation-delay: 0s;
}

.num1 {
  animation: time 4s infinite;
  animation-delay: 3s;
}

.num2 {
  animation: time 4s infinite;
  animation-delay: 2s;
}

.num3 {
  animation: time 4s infinite;
  animation-delay: 1s;
}

.base-timer svg, .base-timer {
  position: relative;
  width: 200px !important;
  height: 200px !important;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: rgb(0 0 0 / 10%);
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(123, 216, 174);
}

.base-timer__path-remaining.orange {
  color: rgb(197, 134, 18);
}

.base-timer__path-remaining.red {
  color: rgb(163, 16, 16);
}

.base-timer__label {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #fff;
}

audio.exam::-webkit-media-controls-play-button,
audio.exam::-webkit-media-controls-panel {
  background-color:  #5186be80;
  color: #fff;
}

.swal-exam .swal2-content {
  font-size: 18px !important;
  font-family: initial !important;
  color: #fff !important;
}

.swal-exam.swal2-popup {
  background: url('../../../../../../assets/images/cloudy.svg') !important;
}