body {
  color: #202020;
  background: url('../../../../../../assets/images/background.svg');
}

.slim-sidebar {
  background: inherit;
  border-right: 1px solid #fff !important;
}

.slim-header {
  border-bottom: 1px solid #fff !important;
}

.sidebar-nav-link {
  color: #fff;
  background: rgb(0 0 0 / 10%);
  border-bottom: 1px solid #f7f2c7 !important;
}

.sidebar-nav-link:hover {
  color: #ca9f06;
}

.title-logo-header {
  font-weight: 500;
  font-size: 28px;
  color: #184779;
  letter-spacing: 2px;
  padding-left: 50px; }

.font-weight-medium {
  font-weight: 500; }

.font-weight-bold {
  font-weight: 700; }

.table thead.bg-info > tr > th,
.table thead.bg-info > tr > td,
.table tfoot.bg-info > tr > th,
.table tfoot.bg-info > tr > td {
  background-color: #f8f8f8;
  color: #202020; }

.table th {
  color: #131313 !important; }

a.header-ion-icon {
  font-size: 35px;
  padding: 0 25px; }

.slim-header-right .card span {
  text-align: center; }

/* .slim-header {
  background-color: #163b5c; } */

#slimSidebarMenu {
  display: none; }

.custom-control-label::before {
  background-color: #fff;
  border: #adb5bd solid 1px; }

.custom-checkbox-no-text .custom-control-label::before,
.custom-checkbox-no-text .custom-control-label::after {
  left: -1.1rem; }

.bg-red {
  background: #ff3d3d !important; }

.bg-yellow {
  background-color: #ff9600 !important; }

.bg-pink {
  background-color: #ff94b2 !important; }

.overflow-hidden {
  overflow: hidden !important; }

@media (min-width: 1200px) {
  .top-hm-header {
    display: block; }
  .top-menu {
    display: none; } }

@media (max-width: 1199px) {
  #slimSidebarMenu {
    display: flex; }
  .title-logo-header {
    padding-left: 0; }
  .top-hm-header {
    display: none; }
  .top-menu {
    display: inline; }
  .md-home-w {
    width: 90% !important;
    max-width: 100%; } }

.slim-logo {
  text-align: center; }

.signin-box {
  width: 662px; }

.rounded-7 {
  border-radius: 11px !important; }

.rounded-right-7 {
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important; }

.rounded-radius-7 {
  border-radius: 11px !important; }

.rounded-top-30 {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important; }

.rounded-bottom-30 {
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important; }

.signin-box.changepw-box {
  width: 700px; }

.section-wrapper {
  border: unset !important;
  padding: 0;
  background-color: transparent; }

.section-wrapper-exam {
  font-size: 14px;
  padding: 4px 0px 40px 30px;
  background-color: rgb(255 255 255 / 95%);
  border-radius: 5px; }

body {
  background-color: #f0f0f0;
  font-family: sans-serif !important; }

.slim-logo {
  font-family: sans-serif !important; }

.slim-sidebar {
  padding: 0; }

.slim-body .slim-mainpanel .container {
  padding: 15px !important;
  padding-left: 3% !important;
  padding-right: 3% !important;
  display: none; }

.slim-body .slim-mainpanel .container.d-block {
  display: block !important; }

.waitMe_container .waitMe_progress.timer {
  background-color: rgba(255, 255, 255, 0.7) !important; }

.sidebar-nav-link.active {
  color: #000 !important;
  background-color: #f8cc0a;
  background-image: unset !important; }

.dataTables_length {
  float: right !important; }

#table_user_medical_filter {
  display: none; }

.slim-header.with-sidebar .slim-sidebar-menu {
  width: 35px;
  height: 35px; }

.logged-user img {
  width: 20px;
  height: 20px;
  padding: 0px;
  border: 0px;
  border-radius: unset;
  margin-right: 13px; }

.modal .modal-content {
  border-radius: 30px !important; }

.table-hover tbody tr:hover {
  cursor: pointer; }

.sidebar-nav-link {
  padding: 37px 19px;
  font-weight: 600; }

.slim-pagetitle {
  border-left: 4px solid #59b1db;
  color: #fff;
  padding-left: 12px !important;
  letter-spacing: 3px !important; }

.btn-cus-hm {
  /* font-weight: bold; */
  border-radius: 25px;
  padding: 10px 0px;
  background-color: #ffffff;
  color: #5a5b5b; }

.btn-cus-hm._1 {
  background: linear-gradient(-58deg, #14385c, #3d6b65 100%);
  color: #ffffff;
  padding: 10.5px 17px !important;
  min-width: 154px; }

.btn-cus-hm.btn-light:not(:disabled):not(.disabled):active,
.btn-cus-hm.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-cus-hm.btn-light.dropdown-toggle,
.btn-cus-hm.btn-light:not(:disabled):not(.disabled):focus,
.btn-cus-hm.btn-light:not(:disabled):not(.disabled):hover {
  color: #000;
  background-color: #e2effb !important;
  border-color: #d8d8d8;
  -webkit-box-shadow: -1px 5px 0px -1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: -1px 5px 0px -1px rgba(0, 0, 0, 0.11);
  box-shadow: -1px 5px 0px -1px rgba(0, 0, 0, 0.11); }

.rounded-7.btn-cus-hm {
  width: 100%;
  padding: 0; }

.col-half-offset {
  margin-left: 4.166666667%; }

@media (min-width: 767px) {
  .col-half-offset:nth-child(1) {
    margin-left: 0%; }
  .row .row {
    margin-left: 0;
    margin-right: 0; }
  .row [class*='col-'] {
    padding-left: 5px;
    padding-right: 5px; }
  .row > [class*='col-']:first-child {
    padding-left: 0; }
  .row > [class*='col-']:last-child {
    padding-right: 0; } }

.btn-search {
  background-color: #e2effb;
  -webkit-box-shadow: -1px 6px 0px -1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: -1px 6px 0px -1px rgba(0, 0, 0, 0.11);
  box-shadow: -1px 6px 0px -1px rgba(0, 0, 0, 0.11); }

.active svg g[data-name='Layer 2'] {
  fill: #000 !important; }

.avatar svg {
  fill: #fff !important;
  height: 25px; }

.message-personal .avatar svg {
  fill: #fff !important;
  height: 19px; }

.nav-hm-header {
  text-align: center; }

.nav-hm-header p, .nav-hm-header .tx-16 {
  color: #000 !important;
  margin: 0;
  font-size: 11px;
  font-weight: 600;
  text-align: left; }

.nav-menu {
  width: 100px;
  border-left: 1px solid #fff;
  background: #60c1f2; }

.last-nav-menu {
  border-right: 1px solid #fff !important; }

.nav-menu p {
  text-align: center; }

.container-hm-header {
  width: auto; }

.header-home-right {
  border-left: 1px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; }

.header-home-right ul {
  height: 100%; }

.header-home-right svg {
  height: 22px; }

.nav-hm-header._1 {
  padding: 0 0;
  min-width: 205px; }

.nav-hm-header._1 svg {
  height: 35px; }

.nav-hm-header._1 h6 {
  color: #000 !important;
  text-align: left;
  margin-bottom: 0.2rem !important; }

.nav-hm-header._1 .tx-16 {
  font-size: 16px; }

.nav-hm-header._1 a .fa-angle-down {
  margin-right: 13px;
  padding: 2px 4px 0px 4px;
  border-radius: 50%;
  background: #fff;
  color: #405e79;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px; }

.dropdown-menu {
  border-top: 1px solid #fff;
  padding: 0; }

.dropdown-menu.show {
  transform: translate3d(0px, 47px, 0px) !important;
  width: 100% !important;
  border-left: 0;
  border-bottom: 0;
  border-right: 0; }

.dropdown-menu a {
  width: 100%; }

.dropdown-menu a:nth-child(1) {
  border-bottom: 1px solid #fff; }

.dataTables_wrapper .dataTables_paginate {
  text-align: center;
  float: none; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #d4d4d4; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: #ffffff;
  border-color: #d4d4d4;
  border-radius: 5px;
  margin: 0 5px; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #d4d4d4; }

.dropdown-menu a {
  font-size: 0.82rem !important;
  padding: 0.7rem 1rem; }

.dropdown-menu a svg {
  height: 24px !important;
  margin: 0 20px 0 10px;
  vertical-align: middle; }

.slim-sidebar svg {
  width: 32px; }

.slim-sidebar span {
  font-size: 16px; }

.slim-pagetitle {
  padding: 0;
  font-weight: bolder;
  font-size: 15px; }

.dataTables_length .select2-container {
  margin-right: 0px; }

.nav-hm-header svg {
  fill: #fff !important; }

.txt-hm-header-md {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  letter-spacing: 5px; }

::-webkit-input-placeholder {
  /* Edge */
  color: #d4d4d4 !important; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d4d4d4 !important; }

::placeholder {
  color: #d4d4d4 !important; }

.select2-selection__placeholder {
  color: #d4d4d4 !important;
  overflow: hidden;
  text-overflow: ellipsis; }

.input-date {
  background-color: #fff !important;
  background: url("../../../../../images/calendar.svg") no-repeat right 0.5rem center !important; }

.applyBtn {
  background-color: #90dad6;
  border-color: #90dad6; }

.applyBtn:hover {
  background-color: #9fe4e0;
  border-color: #9fe4e0; }

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #90dad6;
  border-color: transparent;
  color: #fff; }

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #90dad6;
  border-color: #90dad6; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #395874; }

body {
  letter-spacing: 2px;
  font-size: 17px;
  font-family: Kozuka Gothic Pr6N; }

.btn {
  letter-spacing: 1px; }

.table {
  letter-spacing: 0px; }

.table thead.bg-info > tr > th, .table thead.bg-info > tr > td, .table tfoot.bg-info > tr > th, .table tfoot.bg-info > tr > td {
  border-color: #dee2e6;
  font-size: 16px;
  font-weight: 400 !important;
  padding: 0.5rem 0.3rem !important;
  vertical-align: middle; }

table.dataTable tbody td {
  padding: 0.5rem 1.1rem;
  font-size: 16px;
  vertical-align: middle; }

div.dataTables_length select {
  width: 110px; }

.select2-dropdown {
  z-index: 2000; }

.fc .fc-timegrid-col.fc-day-today {
  background: inherit !important; }

/* .fc-scrollgrid {
    border: 0 !important;
} */
.fc-col-header {
  border: 1px solid gray !important;
  background-color: #f7f7f7; }

.fc-timegrid-slot-label, .fc-scrollgrid {
  border: 0 !important; }

.fc-timegrid-axis {
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
  border-left: 1px solid #fff !important;
  background-color: #fff !important; }

.fc-direction-ltr .fc-timegrid-col-events {
  margin: 0px 7% 0px 7%; }

.fc-event-main-frame {
  padding-left: 5% !important;
  padding-top: 5% !important; }

.fc-event-time {
  font-weight: bolder !important; }

.w-80 {
  width: 80% !important;
  max-width: 100%; }

.select2-container--default .select2-selection--single {
  border-radius: 11px !important; }

.length-table .select2-container--default .select2-selection--single, .dataTables_length .select2-container--default .select2-selection--single {
  border-radius: 0px !important; }

.dataTables_length .select2.select2-container.select2-container--default {
  width: 110px !important; }

.bg-saturday-header {
  background-color: #deeaf5 !important; }

.bg-sunday-header {
  background-color: #fbe4e6 !important; }

.bg-saturday-body {
  background-color: #ebf4fd57 !important; }

.bg-sunday-body {
  background-color: #ffe7ea63 !important; }

.mw-200 {
  min-width: 209px; }

.mw-150 {
  min-width: 150px; }

.mw-50 {
  min-width: 50px; }

.mw-80 {
  min-width: 80px; }

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: auto !important;
  padding: 5px; }

#table_user .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing {
  padding: 0px !important; }

.col-half {
  margin-left: 4.16%; }

.title-logo-header img {
  padding-right: 1rem; }

.title-logo-header {
  padding-left: 20px !important;
  margin-bottom: 0px !important; }

.slim-sticky-sidebar .slim-sidebar {
  top: 56px !important; }

.slim-sticky-sidebar .slim-mainpanel {
  margin-top: 56px !important; }

.btn-change {
  background-color: #e2effb;
  color: #000000 !important;
  font-weight: bold !important; }

.btn-delete {
  background-color: #f8f8f8;
  color: #000000 !important;
  font-weight: bold !important; }

span.tx-danger {
  font-size: 80%;
  position: absolute;
  top: 19px; }

@media (min-width: 1600px) {
  .button-tab {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #efefefa3 !important; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("/assets/images/check-mark.svg") !important; }

.btn-cus-hm._2 {
  background: linear-gradient(to right, #f7c600,  #fff34f, #60c1f2);
  color: #000;
  padding: 10px 52px !important;
  border: 0; }

.dataTables_scrollBody {
  border: none !important; }

.cursor-pointer {
  cursor: pointer; }

.mg-xx-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.table thead > tr > th {
  font-size: unset; }

.form-control:disabled, .dataTables_filter input:disabled {
  background-color: #fff !important; }

.swal-wide {
  width: auto !important; }

.select2-selection__arrow {
  background: #f8f8f8;
  border-radius: 0 11px 11px 0;
  padding-left: 40px;
  height: calc(2.5005rem) !important;
  line-height: calc(2.5005rem + 2px) !important;
  border-left: 1px solid #d4d4d4; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 9px 5px 0 5px !important;
  top: calc(calc(100% - 6px) / 2) !important;
  left: calc(calc(100% - 10px) / 2) !important;
  margin-left: 0px !important;
  margin-top: 0px !important; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 0 5px 9px 5px !important;
  top: calc(calc(100% - 10px) / 2) !important; }

.form-control-label {
  margin-top: auto !important;
  margin-bottom: auto !important;
  position: relative;
  font-weight: unset !important; }

span.tx-danger {
  font-size: 80%;
  position: absolute;
  top: 18px; }

span.tx-danger.change {
  top: auto !important; }

.signin-box {
  background-color: #f0f0f0; }

.swal2-popup {
  border-radius: 1.3125em !important; }

.swal2-styled.swal2-confirm {
  /* font-weight: 500 !important; */
  border-radius: 25px !important;
  /* background: linear-gradient(-58deg, #14385c, #3d6b65 100%) !important; */
  /* color: #ffffff !important; */
  padding: 10px 45px !important;
  border: 0 !important;
  /* font-size: 17.7px !important; */
  /* letter-spacing: 3px; */
  background: #fff;
  font-weight: bold;
  /* padding: 5px 30px; */} 

.swal2-styled.swal2-cancel {
  font-weight: 500 !important;
  border-radius: 25px !important;
  background: #aaa !important;
  color: #ffffff !important;
  padding: 10px 45px !important;
  border: 1px solid transparent !important;
  font-size: 17.7px !important;
  letter-spacing: 3px; }

.swal2-content {
  padding: 30px !important;
  color: #616161 !important;
  font-weight: 600 !important;
  font-size: 20px !important; }

.swal2-popup.swal2-modal.swal2-show {
  width: auto; }

.form-control, .dataTables_filter input {
  padding: 0.7rem 0.75rem !important; }

.slim-header {
  height: 57px !important; }

@media (min-width: 1200px) {
  .slim-sticky-sidebar .slim-mainpanel {
    margin-left: 0px; } }

.slim-sidebar {
  width: 243px; }

.btn {
  font-size: 17.7px !important; }

label {
  font-weight: bold;
  color: #5a5b5b;
  margin-bottom: 0.2rem !important; }

@media (min-width: 576px) {
  .slim-pageheader {
    padding: 0 0 10px 0 !important; } }

#filter_bar .form-group {
  margin-bottom: 0.3rem !important; }

.btn-filter-role label {
  color: #000; }

.active.btn-filter-role label {
  color: #ffffff !important; }

@media (min-width: 768px) {
  #filter_bar .col-md-2.col-half-offset {
    flex: 0 0 19.4% !important;
    max-width: 19.4% !important; } }

.dataTables_length .select2-container--default .select2-selection--single, .length-table .select2-container--default .select2-selection--single {
  height: 28px !important; }

.dataTables_length .select2-selection__rendered, .length-table .select2-selection__rendered {
  font-size: 12px !important;
  font-weight: normal; }

.dataTables_length .select2-selection__arrow, .length-table .select2-selection__arrow {
  height: 26px !important;
  padding-left: 0 !important;
  width: 26px !important;
  border-radius: 0% !important; }

.active.btn-cus-hm {
  /* color: #ffffff !important; */
  background-color: #d4d4d4 !important; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.2em 0.6em !important; }

.select2-container--default .select2-selection--single {
  height: calc(2.82rem + 2px) !important; }

.select2-selection__arrow {
  height: calc(2.82rem) !important;
  width: 47px !important; }

.d-none {
  display: none !important; }

.nav-menu .nav-link {
  padding: 0.5rem 1rem 0 1rem !important; }

.bg-btn-tab {
  background-color: #f8f8f8 !important; }

.w-50 {
  width: 61% !important; }

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 90%; } }

.font-16 {
  font-size: 16px; }

.font-bold {
  font-weight: 500 !important;
  color: #000000 !important; }

.form-control, .dataTables_filter input {
  font-size: unset !important; }

table {
  font-family: sans-serif !important; }

.modal-dialog {
  min-height: 74vh; }

@media (min-width: 700px) {
  .button-tab {
    padding-right: 23px !important; }
  .button-tab:not(:first-child) {
    margin-left: -20px !important; } }

button:focus {
  outline: 0 !important;
  box-shadow: unset !important; }

.slim-sticky-sidebar .slim-sidebar {
  overflow: scroll !important;
  -ms-overflow-style: none;
  scrollbar-width: none; }

.slim-sticky-sidebar .slim-sidebar::-webkit-scrollbar {
  display: none;
  width: 0px; }

.slim-header.with-sidebar .slim-sidebar-menu {
  margin-right: 0px !important;
  margin-left: 19px; }

.sidebar-nav-item span {
  padding-left: 20px; }

#table_user.table thead.bg-info > tr > th {
  border-bottom-width: 1px !important; }

@media (max-width: 1271px) {
  .modal-dialog.w-50 {
    width: 75% !important; }
  .modal-dialog .form-layout {
    padding-left: 80px !important;
    padding-right: 80px !important; } }

.select2-results__option {
  font-size: 12px !important; }

label.form-control-label.margin-top-center, .div-btn-del.margin-top-center {
  margin-top: 11px !important; }

.div-checkbox.margin-top-center {
  margin-top: 32px !important; }

.div-checkbox.div-shift-name.margin-top-center {
  margin-top: 40px !important; }

.select2-dropdown.z-index-900 {
  z-index: 900 !important; }

.table-bordered td:first-child {
  border-left: 0px !important; }

.table-bordered td:last-child {
  border-right: 0px !important; }

table.dataTable {
  border-bottom: 0px !important; }

.table-bordered tbody tr:last-child th, .table-bordered tbody tr:last-child td {
  border-bottom: 1px solid #dee2e6; }

.font-weight-500 {
  font-weight: 500 !important; }

.dataTables_scrollBody {
  overflow-x: hidden !important; }

.table-hover tbody tr:hover td{
  cursor: pointer;
  color: #fad921;
}

.table-hover tbody tr:hover{
  background: #fff !important;
}

button {
  border: 10px solid !important;
  border-image-slice: 1 !important;
  border-width: 5px !important;
  border-image-source: linear-gradient(-58deg, #0e2a47, #1278e5 100%) !important;
  color: #15579c !important;
  background:  #fff !important;
  border-radius: 0px !important;
  font-weight: bold;
}

button:hover {
  border-image-source: linear-gradient(-58deg, #1278e5, #0e2a47 100%) !important;
}