.signin-box{
    border: 0px;
    width: 985px;
}

.signin-box.forgotpass {
    width: 662px !important;
}

.slim-logo{
    font-size: 24px;
    letter-spacing: 4px;
    color: #ff9600;
}

.title-fg{
    color: #000;
}

.hint-t-p {
    text-align: center;
    color: #000000;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-layout-5 .form-control-label {
    justify-content: flex-start;
    font-weight: 500 !important;
    color: #202020;
    font-size: 22px;
    position: relative;
    margin-top: 0 !important;
}

.forgotpass .form-layout-5 .form-control-label {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

input{
    -webkit-box-shadow: -2px 6px 9px -4px #dad0d0;
    -moz-box-shadow: -2px 6px 9px -4px #dad0d0;
    box-shadow: -2px 6px 9px -4px #dad0d0;
}

.btn-cus-hm{
    font-weight: bold;
    border-radius: 30px;
    padding: 11px 54px !important;
    background-color: #d4d4d4;
    color: #787878;
    font-size: 22px;
}

.btn-cus-hm._1{
    border-radius: 30px !important;
    padding: 11px 52px !important;
}

.btn.btn-cus-hm {
    font-size: 22px !important;
}

.sup-tt{
    font-size: 65%;
    letter-spacing: normal;
    position: absolute;
    top: 30px;
}

@media (max-width: 575px) {
    .form-layout-footer{
        text-align: center;
    }
}

#forgotForm {
    width: 662px;
    margin: auto;
}

.btn-back {
    color: #787878 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background: #1570c7 !important;
    border-color: #146abb !important;
}

.btn-back:hover {
    color: #fff !important;
}